<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coucouapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".application.CoucouApplication"
        android:allowBackup="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoucouApp">

        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LogInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.UserVerifiedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.OtpVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="false" />
        <activity android:name=".ui.activity.CreateGroupVerificationActivity" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
    </application>

</manifest>