<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coucouapp">

    <application
        android:name=".application.CoucouApplication"
        android:allowBackup="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoucouApp">
        <activity
            android:name=".ui.components.ProfileVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.dashboard.DashBoardScreen"
            android:exported="false" />
        <activity
            android:name=".ui.components.LogInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.UserVerifiedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.OtpVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.introscreen.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.components.CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".ui.components.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.components.SplashActivity"
            android:exported="true">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
    </application>

</manifest>